
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Environment
.env

# IDEs
.vscode/
.idea/

# Streamlit
.streamlit/

# Google Cloud Credentials
credentials/*.json
gee-service-account.json
service-account*.json

# Other
*.sqlite3
